@model JVStoreFront.DATA.EF.Publisher

@{
    ViewBag.Title = Model.PublisherName + " Details";
}


<h2>@ViewBag.Title</h2>

<div id="pContainer">
    <div id="pHeader">
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.PublisherName)
                @Html.DisplayFor(model => model.PublisherName)
            </strong>
        </p>
    </div>

    <p>
        <strong>Headquarters located in:</strong>

        @Html.DisplayFor(model => model.City),

        @Html.DisplayFor(model => model.State) -

        @Html.DisplayFor(model => model.Country)

    </p>
    <span>
        Still Actively publishing :
        @if (Model.IsActive == true)
        {
            <label>
                Yes
            </label>
        }
        else
        {
            <label>
                No
            </label>
        }


    </span>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PublisherID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
