@model JVStoreFront.UI.MVC.Models.ContactViewModel
@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "ContactCreateForm" }))
{
    @Html.AntiForgeryToken()


    <div class="inner">
        <div class="fields">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="field-half">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>

            <div class="field half">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>

            @*<div class="field">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                </div>*@

            <div class="field">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send Message" class="button primary" />
            <input type="reset" value="Clear" class="button" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to Top", "Index")
</div>