@{
    ViewBag.Title = "The Shop";
}
<hgroup>
    <h2 id="one">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <!-- Main -->
        <div id="main">
            <!-- One -->
            <section class="tiles">
                <article>
                    <span class="image">
                        <img src="~/Content/images/pic01.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="@Url.Action("Index","Products")" class="link">Games Available</a></h3>
                        <p>Digital and Physical Video Games Available</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Content/images/pic02.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="@Url.Action("Upcoming","Products")" class="link">Upcoming Titles</a></h3>
                        <p>Pre-order games not yet released</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Content/images/pic03.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="@Url.Action("About","Home")" class="link">About Us</a></h3>
                        <p>A little History of how we came about</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Content/images/pic04.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="@Url.Action("About","Home")" class="link">Extra Button</a></h3>
                        <p>About us again...</p>
                    </header>
                </article>
            </section>

        </div>

        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <div id="MessageContent"></div>
                    <div id="ContactConfirmation">
                        @Html.Partial("ContactConfirmation", new JVStoreFront.UI.MVC.Models.ContactViewModel())
                    </div>
                    <div id="ContactForm">@Html.Partial("ContactAjax", new JVStoreFront.UI.MVC.Models.ContactViewModel())</div>


                    @*<form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="field">
                                    <label for="subject">Subject</label>
                                    <input type="text" name="subject" id="subject"/>
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="6"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="primary" /></li>
                                <li><input type="reset" value="Clear" /></li>
                            </ul>
                        </form>*@
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">GameStore@untitled.com</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-phone"></span>
                            <h3>Phone</h3>
                            <span>(000) 000-0000 x12387</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-home"></span>
                            <h3>Address</h3>
                            <span>
                                1234 Somewhere Road #5432<br />
                                Saint Louis, MO 00000<br />
                                United States of America
                            </span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

    </div>
</div>
@section scripts{
    <script>
    $("#ContactConfirmation").hide();
        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();

            $("#MessageContent").html("<div class='alert alert-info'>Please wait while your message is sending...</div>");
            $.ajax({
                url: "@Url.Action("ContactAjax", "Home")",
                @*url: "ContactAjax/",*@
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {                    
                    if (data.Name == null || data.Message == null || data.Email == null) {
                        $("#MessageContent").html("<div class ='alert alert-warning'>Make sure all required fields are filled in.</div>");
                    }
                    else {
                        $("#MessageContent").hide();
                        $("#ContactConfirmation").load('@Url.Action("ContactConfirmation","Home")', { name: data.Name, email: data.Email }).show();
                        $("#ContactCreateForm")[0].reset();
                        setTimeout(function () {
                            $("#ContactConfirmation").fadeToggle("slow");
                        }, 5000);
                    }
                },
                error: function (e) {
                    $("#MessageContent").html("<div class ='alert alert-warning'>Oh no! There was an error. Please try again later or contact the system admin.</div>");
                }//END ERROR
            });//END AJAX
        });//END CONTACTCREATEFORM
    </script>
}