@model JVStoreFront.UI.MVC.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using JVStoreFront.DATA.EF;
@{
    ViewBag.Title = "Welcome your Account Page " + User.Identity.GetUserName();
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div id="pContainer">
    <div class="inner">
        @if (Request.IsAuthenticated)
        {
            GameStoreEntities db = new GameStoreEntities();

            string userID = User.Identity.GetUserId();

            UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();

            string userFN = "Guest";

            if (currentUser != null)
            {
                userFN = currentUser.FirstName + " " + currentUser.LastName;
            }

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <ul id="pLeft">
                    <li>
                        Account User's Full Name : @userFN
                    </li>
                    <li>
                        Phone Number: @(Model.PhoneNumber ?? "None") [
                        @if (Model.PhoneNumber != null)
                        {
                            @Html.ActionLink("Change", "AddPhoneNumber")
                            @: &nbsp;|&nbsp;
                            @Html.ActionLink("Remove", "RemovePhoneNumber")
                        }
                        else
                        {
                            @Html.ActionLink("Add", "AddPhoneNumber")
                        }
                        ]
                    </li>
                    <li>
                        @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                                                                    : Html.ActionLink("Pick a password", "SetPassword"))

                    </li>
                    <li>
                        @Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>

                    <ul id="pRight">
                @if (User.IsInRole("Admin"))
                {
                    <h4>Administration Index Links : </h4>

                        <li>
                            @Html.ActionLink("Video Game Index", "Index", "Products")
                        </li>
                        <li>
                            @Html.ActionLink("Publishers Index", "Index", "Publishers")
                        </li>
                        <li>
                            @Html.ActionLink("ESRB Index", "Index", "ESRBs")
                        </li>
                        <li>
                            @Html.ActionLink("StockStatus Index", "Index", "StockStatus")
                        </li>
                        <li>
                            @Html.ActionLink("Types of Media Index", "Index", "MediaTypes")
                        </li>
                        <li>
                            @Html.ActionLink("Number of Players Index", "Index", "NumPlayers")
                        </li>                        
                        }
                    </ul>
                }
            }
        </div>
    </div>
